:markdown
  **socnet (prototype)** is a simple web-app driven by Ruby on Rails 3

  This app will include twitter-like messaging services for signed in users and it will be further developed to support
  posts with attached links, images or videos, maybe overlay maps and private conversations and maybe even more.

  The views are written in [Haml](http://haml-lang.com/) and take use of [markdown](https://github.com/rtomayko/rdiscount),
  the use of [jQuery](http://jquery.com/) and some [HTML5](http://www.w3.org/html/logo/) wizardry is just ahead.
  The app is running on [Heroku](http://heroku.com) servers and it's [github](http://github.com) directory will be made public sometime soon.

  It is being test-driven developed by [_mediafinger_](http://www.mediafinger.com/) and inspired heavily by [Michael Hartl](http://michaelhartl.com/)

